{% extends 'base.html.twig' %}

{% block title %}Trioenologie - Association d'oenologie: actualités, programme, galerie photo...{% endblock %}

{% block body %}


  <div class="container mt-1 shadow cbody">
    <div class="row">
    <h1 class="text-center">Bienvenue sur le site de <span class="sP ">Trioenologie</span></h1>
  
    {# Carousel  #}
    {% include "main/partials/carousels/carouselHome.html.twig" %}
  </div> <!--EO row-->

  </div><!--EO container-->
  
  




{% endblock %}
