{% extends "base.html.twig" %}
{% block title %}Trieonologie, association d'oenologie{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center sP mt-3 mb-3">L'association</h1>

    <section>

        <img src="/assets/imagesTrioenologie/banniere.jpg" alt="" id="banniere">

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, delectus suscipit a vitae harum atque quo magnam sunt inventore aliquid numquam beatae, quam omnis vero veniam ratione. Quibusdam, illum vitae.
    Ratione inventore illum labore odit architecto distinctio ullam soluta omnis quas quae iste modi voluptatem excepturi earum necessitatibus similique sit doloribus, eum, sapiente quod sequi eligendi reprehenderit autem animi! At?
    Adipisci dicta labore, ab voluptatum voluptate necessitatibus aperiam sint quia dolores suscipit praesentium nostrum harum quos minima incidunt ad cumque tenetur molestiae, molestias voluptatem. Alias ducimus nesciunt voluptatum cum quidem.</p>

    <br>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vitae eveniet alias architecto. Quam quidem consectetur nihil quos aliquid! Accusamus ratione possimus ducimus ipsa tempora sed eius fuga quas laudantium?</p>
    
    </section>
</div>

{% endblock %}